* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
}

body { color: #222; }



/* index.html part*/


/* FOOD SECTION */
.food-section { background: #fef5f1; }
.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}
.food-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.food-card:hover { transform: translateY(-10px); }
.food-card img {
  width: 100%; height: 180px; object-fit: cover;
}
.food-card h3 { margin: 15px 0 5px; color: #ff7f50; }
.food-card p { padding: 0 15px 20px; color: #555; }

/* GALLERY */